################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Csharp/.vs
/Csharp/Variables/bin/Debug
/Csharp/Variables/obj
